<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>

    <body>
        <h1>Delete Task</h1>

        <h3>
            <a href="http://localhost:8080/">Home</a>
            <a href="http://localhost:8080/listtasks">List Tasks</a>
            <a href="http://localhost:8080/updatetask">Update Task</a>
            <a href="http://localhost:8080/newtask">Add new Task</a>
            <a href="http://localhost:8080/deletecompletedtasks">Delete Completed Tasks</a>
        </h3>

        <form action="/deletetaskdata" method="POST">
            
            Task ID Old 
            <input type="text" method ="POST" name ="taskID" /> </br>
            <input type="submit" value="Submit" /> </br>
        </form>

        
    </body>
</html>