<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>

    <body>
        <h1>Delete Task</h1>

        <h3>
            <a href="/">Home</a>
            <a href="/newtask">Add new Task</a>
            <a href="/listtasks">List All Tasks</a>
            <a href="/updatetask">Update Task</a>
            <a href="/deletecompletedtasks">Delete Completed Tasks</a>
            <a href="/listdevelopers">List Developers</a>
            <a href="/newdeveloper">New Developer</a>
        </h3>

        <form action="/deletetaskdata" method="POST">
            
            Task ID Old 
            <input type="text" method ="POST" name ="taskID" /> </br>
            <input type="submit" value="Submit" /> </br>
        </form>

        
    </body>
</html>