<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>  

    <body>
        <h1>Delete Completed Tasks</h1>
    </body>
    <h3>
        <a href="/">Home</a>
        <a href="/newtask">Add new Task</a>
        <a href="/listtasks">List All Tasks</a>
        <a href="/updatetask">Update Task</a>
        <a href="/deletetask">Delete Task</a>
        <a href="/listdevelopers">List Developers</a>
        <a href="/newdeveloper">New Developer</a>
    </h3>

    <form action="/deletetaskdataCompleted" method="POST">
        Delete Task Status
        <select type = "text" name="taskStatus" multiple>
                <option value ="In Progress">In Progress</option>
                <option value ="Complete">Complete</option>
        </select>
        <input type="submit" value="Submit" /> </br>
    </form>
</html> 