<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>
    <body>
        <img src="images.png">

        <h1>
            <!-- <a href="http://localhost:8080/newtask">Add new Task</a>
            <a href="http://localhost:8080/listtasks">List All Tasks</a>
            <a href="http://localhost:8080/updatetask">Update Task</a>
            <a href="http://localhost:8080/deletetask">Delete Task</a>
            <a href="http://localhost:8080/deletecompletedtasks">Delete Completed Tasks</a> -->

            <a href="/newtask">Add new Task</a>
            <a href="/listtasks">List All Tasks</a>
            <a href="/updatetask">Update Task</a>
            <a href="/deletetask">Delete Task</a>
            <a href="/deletecompletedtasks">Delete Completed Tasks</a>

        </h1>
    </body>
</html>