<html>
    <head>
            <link rel="stylesheet" href="styles.css"/>
        <style>
            table,th,td{
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <h1>
             <!-- <a href="http://localhost:8080/">Home</a>
             <a href="http://localhost:8080/newtask">Add new Task</a>
             <a href="http://localhost:8080/updatetask">Update Task</a>
             <a href="http://localhost:8080/deletetask">Delete Task</a>
             <a href="http://localhost:8080/deletecompletedtasks">Add new Task</a>
             <a href="http://localhost:8080/deletecompletedtasks">Delete Completed Tasks</a> -->

             <a href="/">Home</a>
             <a href="/newtask">Add new Task</a>
             <a href="/updatetask">Update Task</a>
             <a href="/deletetask">Delete Task</a>
             <a href="/deletecompletedtasks">Add new Task</a>
             <a href="/deletecompletedtasks">Delete Completed Tasks</a>
             <a href="/deleteOldcomplete">Delete Old Complete Tasks</a>

         </h1>

         <h3>
             <table>
                 <tr>
                     <td>taskID</td>
                     <td>taskName</td>
                     <td>assignTo</td>
                     <td>dueDate</td>
                     <td>taskStatus</td>
                     <td>taskDesc</td>
                 </tr>
                 <% for (var i =0; i<taskDB.length; i++){ %>
                    <tr>
                        <td>
                            <%= taskDB[i].taskID %>
                        </td>
                        <td>
                            <%= taskDB[i].taskName %>
                        </td>
                        <td>
                            <%= taskDB[i].assignTo %>
                        </td>
                        <td>
                            <%= taskDB[i].taskDue %>
                       </td>
                       <td>
                            <%= taskDB[i].taskStatus %>
                       </td>
                       <td>
                            <%= taskDB[i].taskDesc %>
                       </td>
                    </tr>
                    <% }%>
                </table>
         </h3>

    </body>
</html>