<html>
    <head>
            <link rel="stylesheet" href="styles.css"/>
        <style>
            table,th,td{
                border: 1px solid black;
            }
        </style>
    </head>

    <body>
        <h1>
             <a href="http:localhost:8080/">Home</a>
             <a href="http:localhost:8080/newtask">Add new Task</a>
             <a href="http:localhost:8080/updatetask">Update Task</a>
         </h1>

         <h3>
             <table>
                 <tr>
                     <td>Name</td>
                     <td>Due Date</td>
                     <td>Description</td>
                 </tr>
                 <% for (var i =0; i<task.length; i++){ %>
                    <tr>
                        <td>
                            <%= tasks[i].taskID %>
                        </td>
                        <td>
                            <%= tasks[i].taskName %>
                        </td>
                        <td>
                            <%= tasks[i].assignTo %>
                        </td>
                        <td>
                            <%= tasks[i].taskDue %>
                       </td>
                       <td>
                            <%= tasks[i].taskStatus %>
                       </td>
                       <td>
                            <%= tasks[i].taskDesc %>
                       </td>
                    </tr>
                    <% }%>
                </table>
         </h3>

    </body>
</html>