<html>
    <head>
            <link rel="stylesheet" href="styles.css"/>
         <style>
            table,th,td{
                 border: 1px solid black;
              }
        </style>
    </head>

<body>
    <h1>List Developers</h1>

        <h2>
            <a href="/">Home</a>
            <a href="/newtask">Add new Task</a>
            <a href="/listtasks">List All Tasks</a>
            <a href="/updatetask">Update Task</a>
            <a href="/deletetask">Delete Task</a>
            <a href="/deletecompletedtasks">Delete Completed Tasks</a>
            <a href="/newdeveloper">New Developer</a>
         </h2>

        <h3>
            <table>
                <tr>
                    <td>_id</td>
                    <td>firstName</td>
                    <td>lastname</td>
                    <td>level</td>
                    <td>state</td>
                    <td>suburb</td>
                    <td>street</td>
                    <td>unit</td>
                </tr>
                <% for (var i =0; i<developerDB.length; i++){ %>
                    <tr>
                        <td>
                            <%= developerDB[i]._id %>
                        </td>
                        <td>
                            <%= developerDB[i].name.firstName %>
                        </td>
                        <td>
                            <%= developerDB[i].name.lastName %>
                        </td>
                        <td>
                            <%= developerDB[i].level %>
                        </td>
                        <td>
                            <%= developerDB[i].address.state %>
                        </td>
                        <td>
                            <%= developerDB[i].address.suburb %>
                        </td>
                        <td>
                            <%= developerDB[i].address.street %>
                        </td>
                        <td>
                            <%= developerDB[i].address.unit %>
                        </td>
                    </tr>
                <% }%>
                </table>
        </h3>


    </body>

</html>