<html>
        <head>
                <link rel="stylesheet" href="styles.css"/>
            </head>
    <body>
        <h1>
            <a href="/">Home</a>
            <a href="/listtasks">List Tasks</a>
        </h1>
        <form action="/data" method="POST">
            Task Name:
            <input type="text" name="taskname"/></br>
            Task Due:
            <input type="text" name="taskdue"/></br>
            Task Desc:
            <input type="text" name="taskdesc"/></br>
            <button>Submit</button>
        </form>
    </body>
</html>