<html>
    <head>
        <link rel="stylesheet" href="styles.css"/>
    </head>

    <body>
       <h1>Update Task</h1></br>

       <h2>
        <a href="http://localhost:8080/">Home</a>
        <a href="http://localhost:8080/listtasks">List Tasks</a>
        <a href="http://localhost:8080/newtask">Add new Task</a>
        <a href="http://localhost:8080/deletetask">Delete Task</a>
        <a href="http://localhost:8080/deletecompletedtasks">Delete Completed Tasks</a>
       </h2>

       <form action="/updatetaskdata" method="POST">

            Old taskID 
            <input type="text" method ="POST" name ="taskID" /> </br>
            New taskStatus
            <select type="text" name="taskStatus" multiple>
                    <option value ="In Progress">In Progress</option>
                    <option value ="Complete">Complete</option>
            </select>
            <input type="submit" value="Submit" /> </br>
       </form>
    </body>
</html>